body{
    font-family: Arial, sans-serif;
}
h1{
    color: rgb(104, 104, 236)
}
h3{
    color: rgb(94, 184, 94)
}

@media screen and (max-width: 375px){
    h1{
        color: rgb(240, 209, 35); 
    }
    h3{
        color: white; 
    }
}